@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;700&display=swap');

:root {
  --theme-dark: rgb(47, 43, 54);
  --theme-mid: rgb(106, 76, 132);
  --theme-light: rgb(220, 207, 232);
  --theme-accent: rgb(244, 185, 25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html, body {
  position: relative;
  min-height: 100vh;
  height: 100%;
}
body {
  color: var(--theme-dark);
  background: #fff;
  line-height: 1.5;
  font-family: 'Kaisei Opti', serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
